.scoreboard {
    width: 100vw;
    height: 10vh;
    background-color: black;
}

.workspace {
    width: 60vw;
    height: 60vh;
    background-color: lightgrey;
    position: relative;
    margin: auto;
}

.device-image {
    transition: transform 0.3s ease;
}

.device-image:hover {
    transform: scale(1.2);
}
