.control-panel {
    position: fixed;
    left: 100px;
    right: 300px;
    bottom: 0;
    height: 100px;

    display: flex;
    justify-content: left;
    gap: 30px;
}

.control-panel-mode {

    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.control-panel-edge {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

.control-button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.control-button:hover,
.control-button.active {
    background-color: lightgreen;
}

.control-button-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

