.device-panel {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 100px;
    width: 100px;
}

.device-panel-devices {

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.device-button {
    width: 75px;
    height: 75px;
}

.device-button-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

