.workspace {
    top: 100px;
    left: 100px;
    right: 300px;
    bottom: 100px;
    position: absolute;
    overflow: hidden;

    border-radius: 10px;
    background-color: lightgrey;
}

.edge-layer {
    width: 100%;
    height: 100%;
}

.device-image {
    transition: transform 0.3s ease;
}

.delete-button {
    width: 20px;
    height: 20px;
    transition: opacity 0.2s ease, transform 0.2s ease
}

.delete-button:hover {
    transform: scale(1.2);
}

.device-container:hover .device-image {
    transform: scale(1.2);
}