.workspace {
    width: 60vw;
    height: 60vh;
    background-color: lightgrey;
    position: relative;
    margin: auto;
}

.edge-layer {
    width: 100%;
    height: 100%;
}

.device-image {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.delete-button {
    width: 20px;
    height: 20px;
    transition: opacity 0.2s ease, transform 0.2s ease
}

.device-container:hover .device-image {
    transform: scale(1.2);
}

.delete-button:hover {
    transform: scale(1.2);
}